@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

a,
button {
  transition: 0.3s color;
}

a:hover,
button:hover {
  @apply text-gray-600;
}

/* purgecss start ignore */

.kg-bookmark-card {
  @apply w-full;
}

.kg-bookmark-container {
  @apply flex text-gray-800 border border-gray-400 rounded-lg no-underline shadow-md overflow-hidden;
  text-decoration: none !important;
  transition: box-shadow 0.3s, color 0.3s;
}

.kg-bookmark-container:hover {
  @apply text-gray-900 no-underline shadow-lg;
}

.kg-bookmark-content {
  @apply flex flex-col flex-grow justify-start items-start py-4 px-6;
}

.kg-bookmark-title {
  @apply font-bold;
}

.kg-bookmark-description {
}

.kg-bookmark-thumbnail {
  position: relative;
  min-width: 33%;
  max-height: 100%;
}

.kg-bookmark-thumbnail img {
  @apply absolute top-0 left-0 w-full h-full rounded-lg object-cover;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.kg-bookmark-metadata {
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 14px;
  color: color-mod(var(--midgrey) l(-10%));
  font-size: 1.5rem;
  font-weight: 400; */
}

.kg-bookmark-icon {
  @apply w-6 h-6;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.kg-bookmark-author {
  /* line-height: 1.5em; */
}

.kg-bookmark-author:after {
  /* content: "•";
  margin: 0 6px; */
}

.kg-bookmark-publisher {
  /* overflow: hidden;
  max-width: 240px;
  line-height: 1.5em;
  text-overflow: ellipsis;
  white-space: nowrap; */
}

/* gallery */

.kg-gallery-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kg-gallery-image img {
  display: block;
  margin: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  width: 100%;
  height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
  margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
  margin: 0 0 0 0.75em;
}

.kg-gallery-card + .kg-image-card.kg-width-wide,
.kg-gallery-card + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-image-card.kg-width-wide {
  margin: -2.25em 0 3em;
}

/* purgecss end ignore */
